name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_osx:
    name: OSX Build & Test
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: build
        run: make
      - name: run tests
        run: make test 
        timeout-minutes: 1
  build_win32:
    name: Windows Build & Test
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: build
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          ./build.bat
      - name: run tests
        run: .\tests.exe
        timeout-minutes: 1
